@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Inter, sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
}